/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: hotpink;
}

button,
input {
    background: none;
    border: none;
}

button img {
    width: 100%;
    height: 100%;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

@font-face {
    font-family: 'EarlyEditionJNL';
    src: url('../fonts/EarlyEditionJNL.woff2') format('woff2'),
        url('../fonts/EarlyEditionJNL.woff') format('woff');
}

:root {
    /* startje */
    --color-basicwhite: #ffffff;
    --color-basicblack: #000000;
    --color-background: #dddcd7;
    --color-moviecard: #e9e8e1;
    --color-highlight: #af1b0b;
    --color-timeslot: #dddcd7;
    --color-overlay: #2f3631;

    --font-header: 'EarlyEditionJNL';
}

/* 
===================
MEDIA QUERIES （彡໒(⊙ᴗ⊙)७彡）
=================== 
*/



/* 
===================
GENERAL （彡໒(⊙ᴗ⊙)७彡）
=================== 
*/

.logo {
    width: 40%;
    cursor: pointer;
}

img {
    width: 100%;
}

/* 
===================
NAVIGATION （彡໒(⊙ᴗ⊙)७彡）
=================== 
*/

header {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to bottom, black, transparent);
}

header svg {
    color: white;
}

.sticky svg {
    color: black;
}

header.sticky {
    background: #fff;
    color: black;
}

header.sticky a {
    color: black;
}

nav {
    /* display: grid;
    grid-template-columns: max-content max-content max-content; */
    display: flex;
    justify-content: space-between;
    gap: 2em;
    max-width: 1350px;
    width: 100%;
}

.nav__logo {
    order: 2;
}

.nav__logo img {
    width: 16em;
    object-fit: contain;
}

nav ul {
    display: flex;
    gap: 2rem;
    padding: 2em 0;
}

nav a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.nav__actions {
    display: flex;
    align-items: center;
    gap: 1em;
    order: 3;
    padding: 2em 0;
}

.nav__search-input {
    display: flex;
    background: #44434375;
    border-radius: .5em;
}

.nav__search-input input {
    width: 100%;
    height: 100%;
    background: none;
    padding: 1.3em 2em;
    border: none;
}

.nav__search-input button {
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white ;
}

.nav__search-input img {
    width: 2em;
}

.nav__actions__item {
    width: 2em;
}

/* 
===================
Body （彡໒(⊙ᴗ⊙)७彡）
=================== 
*/

body {
    font-family: "Roboto", sans-serif, Arial, Helvetica;
    background-color: var(--color-background);
}

h2 {
    font-family: var(--font-header);
    font-size: 2em;
    text-transform: uppercase;
    color: var(--color-highlight);
}

h3 {
    text-transform: uppercase;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
}

/* 
===================
HERO（彡໒(⊙ᴗ⊙)७彡）
=================== 
*/

.slideshow {
    position: relative;
    min-height: clamp(65vh, 80vw, 85vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.slideshow__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.slideshow__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1350px;
    width: 100%;
    margin: 3em auto;
    gap: 2em;
}

.slideshow__list__item {
    position: relative;
    cursor: pointer;
    padding: 1.2em 0;
}

.slideshow__list__item:hover .slideshow__list__item__bar {
    background: #af1b0b;
    height: 10px;
}

.slideshow__list__item h2 {
    font-size: 1.5em;
    color: white;
    text-transform: uppercase;
    margin-top: .3em;
}

.slideshow__list__item__bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: white;
    width: 100%;
    height: 3px;
    transition: all 500ms;
}



/* 
===================
HERO（彡໒(⊙ᴗ⊙)७彡）
=================== 
*/



.hero {
    padding: 4rem;
   
}

.hero ul {
    display: flex;
    gap: 1.5rem;
}

.hero ul li {
    min-width: 45rem;
    position: relative;
    overflow: hidden;
}

.hero ul li::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;

}

.hero ul li {
    position: relative;
}

/* 
===================
Button（彡໒(⊙ᴗ⊙)७彡）
=================== 
*/

.FilterButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-basicwhite);

    cursor: pointer;

}

.Films>ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.Films>ul>li.grow {
    scale: 1.1;
    box-shadow: gold 0 0 20px;
}

.Films>ul>li {
    max-width: 30rem;
    background-color: var(--color-moviecard);
    filter: drop-shadow(rgba(0, 0, 0, .2)0 0 5px);
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.Films>ul>li>ul:nth-of-type(2) {
    justify-content: end;
    gap: 1rem;
    background-color: var(--color-timeslot);
    padding: .8rem;
}

.Films>ul>li>ul:nth-of-type(2) li {
    padding: .5rem;
    border-radius: .4rem;
    border: solid .2rem var(--color-highlight);
    background-color: white;
}

.Films>ul>li>ul {
    display: flex;
}

/* POSTER */
.Films>ul>li>ul:nth-of-type(1)>li>img {
    width: 3rem;
}

.Films>ul>li>ul>li:nth-of-type(2) {
    display: flex;
    flex-direction: column;
}

/* Beschrijving sectie */
.Films>ul>li>ul:nth-of-type(1)>li:nth-of-type(2)>ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    height: 100%;
}

.Films>ul>li>ul:nth-of-type(1)>li:nth-of-type(2)>ul>ul {
    display: flex;
    margin-top: auto;
}

/* KIJKWIJZER PICTOGRAMMEN */
.Films>ul>li>ul:nth-of-type(1)>li:nth-of-type(2)>ul>ul li {
    width: 2rem;

}


/* 
===================
SPECIALS （彡໒(⊙ᴗ⊙)७彡）
=================== 
*/

.Specials ul {
    display: flex;
    /* Flex want alles staat onder elkaar van boven naar beneden */
    /* justify-content: center; */
    padding: 0;
    /* ruimte tussen */
    margin: 0;
    gap: 2em;
    list-style: none;
    flex-wrap: wrap;
    /* Die zorgt ervoor dat de items in de specials op een nieuwe rij mogen springen als ze niet meer naast elkaar passen */

}

.Specials li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-color: var(--color-moviecard);
    border-radius: 0.75em;
    /*Maakt de hoeken rond  */
    padding: 1.5em 1.5em 1.75em;
    width: 100%;
    max-width: 26.25em;
}

.Specials span {
    font-family: var();
    text-transform: uppercase;
}

.Specials li>img:first-child {
    /*  met > pakt ie alleen het plaatje dat irect in de moeder ligt. zonder Selecteer je alle plaatjes in een li */
    width: 100%;
    display: block;
    border-radius: 0.5em;
    margin-bottom: 1.25em;
    object-fit: cover;
}

.RedArrow {
    align-self: flex-end;
    /* schuift naar rechts onder */
    width: 1.75em;
    height: auto;
}

/* 
===================
ERVAAR （彡໒(⊙ᴗ⊙)७彡）
=================== 
*/

.Ervaar {
    padding: 4rem;
    background-color: var(--color-basicblack);
   
}

.Ervaar ul {
    display: flex;
    overflow-x: scroll;
    gap: 1.5rem;
}

.Ervaar ul li {
    min-width: 22rem;
    position: relative;
    border-radius: 3rem;
    overflow: hidden;
}

.Ervaar ul li::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .5);
    position: absolute;

}

.Ervaar ul li {
    position: relative;
}

.Ervaar ul li h2 {
    position: absolute;
    bottom: 2rem;
    color: white;
    left: 2rem;
    z-index: 2;
}

/* 
===================
NIEUWSBRIEF 彡໒(⊙ᴗ⊙)७彡）
=================== 
*/

.Nieuwsbrief {  
  background-image: url(../images/Extra/MovieCurtain.png);
  background-size: cover;
  text-align: center;
  color: #fff;
  padding: 1rem;
}

.Nieuwsbrief h2 {
  color: var(--color-basicwhite);
  font-size: 1.8em;
  font-weight: 800;
  line-height: 1.2;
  margin: 0 0 1.5em;
  padding: 2rem;
  text-transform: uppercase;

}

/* 
===================
FOOTER 彡໒(⊙ᴗ⊙)७彡）
=================== 
*/

footer {
    background-image: url("../images/Extra/Kaart.jpeg");
    background-size: cover;
    background-position: center;
    padding: 4rem;
    position: relative;
    text-align: center;
    color: var(--color-basicwhite);
    
}

footer section {
    position: relative;
    /* Zorgt ervoor dat de content over de achtergrondafbeelding te zien is */
    z-index: 1;
}

/* Logo */
footer img {
    max-width: 11rem;
    margin-bottom: 1rem;
}

footer p {
    margin: 0.3rem 0;
}

footer a {
    color: var(--color-basicwhite);
    text-decoration: none;
}

.RouteButton {
    padding: 1rem 2rem;               
    margin: 1.5em auto;

    background: var(--color-basicwhite);
    color: var(--color-basicblack);

    border: 0.2rem solid var(--color-highlight);
    border-radius: 0.5rem;

    font-size: 1rem;
    cursor: pointer;
}

/* Social icons container */
.socials {
    display: flex;
    justify-content: right;
    gap: 1rem;
    margin-top: 1.5rem;
}

.socials img {
    width: 1.75rem;
    height: 1.75rem;
    /* Aan chatgpt gevraagd hoe ik de kleur van mijn svg kon veranderen */
    filter: invert(1); 
}

/* Credits */
.credits {
    display: flex;
    justify-content: left;
    font-size: 0.8rem;
    margin-top: 2rem;
    
}